## Likes Report Assignment 
### Alaina Norris
### 09/10/2025

The source of my personal instagram data was the data I downloaded directly from my account. I did not do anything special for this data. The data I downloaded was the data I had for the last year on instagram , from August 2024 until August 2025. This data was created in order to track how I interact with the app, and what features are used. It is also helpful to track the posts I like and view in order to give a more personalized experience in my instagram reels, and also for targeted advertisments. This data served the purpose of a more personal and targeted experience on the app, which keeps the user engaged and ensures that they enjoy the app. If someone gets completely random and not relatable feed, then they made be more inclined to not use the app or switch to other apps - such as facebook or tiktok. The data can also be used for personal use if you were interested to see the things you have done in the last year on the app. This data is reliable because of Instagrams use of analytical tools and third party tools (with the user permission). The data can track exactly what happened and when it happened, such as giving you a direct date and time of when you liked someones post or clicked on an ad. This data could potentially be unreliable depending on some data limitations or if there is any incomplete data that instagram did not collect. There also may be some issues if the user does not use the app consistenly and has missed many updates.

## Section 2
Open and load the json file

In [125]:
### these are the imports we need
import json
import pandas as pd 
import matplotlib as plt

In [126]:
path = r"/Users/alainanorris/Downloads/instagram-_alainanorris_-2025-08-25-DX2wxAXH 4/your_instagram_activity/likes/liked_posts.json"
with open(path) as l:
    dict = json.load(l)

## Section 3
Convert the data into DataFrame object and assign it to a new variable using pandas DataFrame function.

In [127]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'conangray', 'string_list_data': [{'...
1  {'title': 'caucasianmemer', 'string_list_data'...
2  {'title': 'spookyhoagie', 'string_list_data': ...
3  {'title': 'gothictodie', 'string_list_data': [...
4  {'title': 'ceterralynn', 'string_list_data': [...

In [128]:
dict.keys()

dict_keys(['likes_media_likes'])

In [129]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

            title                                   string_list_data
0       conangray  [{'href': 'https://www.instagram.com/p/DNyOvH8...
1  caucasianmemer  [{'href': 'https://www.instagram.com/p/DNisltN...
2    spookyhoagie  [{'href': 'https://www.instagram.com/p/DNR1RZY...
3     gothictodie  [{'href': 'https://www.instagram.com/p/DNbINZR...
4     ceterralynn  [{'href': 'https://www.instagram.com/p/DNwov3D...

## Section 4

In [130]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNyOvH8XLQs/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1756143885}]

In [131]:
type(df_tidy['string_list_data'].iloc[0])

list

In [132]:
len(df_tidy['string_list_data'].iloc[0])

1

In [133]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DNyOvH8XLQs/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1756143885}

In [134]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756143885

In [135]:
df_tidy['Time of Like'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like
0,conangray,[{'href': 'https://www.instagram.com/p/DNyOvH8...,1756143885
1,caucasianmemer,[{'href': 'https://www.instagram.com/p/DNisltN...,1756132206
2,spookyhoagie,[{'href': 'https://www.instagram.com/p/DNR1RZY...,1756090081
3,gothictodie,[{'href': 'https://www.instagram.com/p/DNbINZR...,1756090013
4,ceterralynn,[{'href': 'https://www.instagram.com/p/DNwov3D...,1756089975

In [136]:
# good to have
from datetime import datetime
df_tidy['Date of Like'] = [datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [137]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,conangray,[{'href': 'https://www.instagram.com/p/DNyOvH8...,1756143885,2025-08-25 13:44:45
1,caucasianmemer,[{'href': 'https://www.instagram.com/p/DNisltN...,1756132206,2025-08-25 10:30:06
2,spookyhoagie,[{'href': 'https://www.instagram.com/p/DNR1RZY...,1756090081,2025-08-24 22:48:01
3,gothictodie,[{'href': 'https://www.instagram.com/p/DNbINZR...,1756090013,2025-08-24 22:46:53
4,ceterralynn,[{'href': 'https://www.instagram.com/p/DNwov3D...,1756089975,2025-08-24 22:46:15

In [138]:
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,conangray,[{'href': 'https://www.instagram.com/p/DNyOvH8...,1756143885,2025-08-25 13:44:45,https://www.instagram.com/p/DNyOvH8XLQs/
1,caucasianmemer,[{'href': 'https://www.instagram.com/p/DNisltN...,1756132206,2025-08-25 10:30:06,https://www.instagram.com/p/DNisltNNbLa/
2,spookyhoagie,[{'href': 'https://www.instagram.com/p/DNR1RZY...,1756090081,2025-08-24 22:48:01,https://www.instagram.com/p/DNR1RZYNh_j/
3,gothictodie,[{'href': 'https://www.instagram.com/p/DNbINZR...,1756090013,2025-08-24 22:46:53,https://www.instagram.com/p/DNbINZRxq1q/
4,ceterralynn,[{'href': 'https://www.instagram.com/p/DNwov3D...,1756089975,2025-08-24 22:46:15,https://www.instagram.com/p/DNwov3D3JIV/

In [139]:
df_tidy['value'] = [ i[0]['value'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,conangray,[{'href': 'https://www.instagram.com/p/DNyOvH8...,1756143885,2025-08-25 13:44:45,https://www.instagram.com/p/DNyOvH8XLQs/,ð
1,caucasianmemer,[{'href': 'https://www.instagram.com/p/DNisltN...,1756132206,2025-08-25 10:30:06,https://www.instagram.com/p/DNisltNNbLa/,ð
2,spookyhoagie,[{'href': 'https://www.instagram.com/p/DNR1RZY...,1756090081,2025-08-24 22:48:01,https://www.instagram.com/p/DNR1RZYNh_j/,ð
3,gothictodie,[{'href': 'https://www.instagram.com/p/DNbINZR...,1756090013,2025-08-24 22:46:53,https://www.instagram.com/p/DNbINZRxq1q/,ð
4,ceterralynn,[{'href': 'https://www.instagram.com/p/DNwov3D...,1756089975,2025-08-24 22:46:15,https://www.instagram.com/p/DNwov3D3JIV/,ð

In [140]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href,value
0,conangray,1756143885,2025-08-25 13:44:45,https://www.instagram.com/p/DNyOvH8XLQs/,ð
1,caucasianmemer,1756132206,2025-08-25 10:30:06,https://www.instagram.com/p/DNisltNNbLa/,ð
2,spookyhoagie,1756090081,2025-08-24 22:48:01,https://www.instagram.com/p/DNR1RZYNh_j/,ð
3,gothictodie,1756090013,2025-08-24 22:46:53,https://www.instagram.com/p/DNbINZRxq1q/,ð
4,ceterralynn,1756089975,2025-08-24 22:46:15,https://www.instagram.com/p/DNwov3D3JIV/,ð
...,...,...,...,...,...
1441,howtobeatanxietyblog,1724769368,2024-08-27 10:36:08,https://www.instagram.com/p/C-3rKRJM_Je/,ð
1442,avamur1,1724769327,2024-08-27 10:35:27,https://www.instagram.com/p/C_DyNUtRxK7/,ð
1443,sydroche,1724767199,2024-08-27 09:59:59,https://www.instagram.com/p/C_HbVr2tnVD/,ð
1444,maybrittduwel,1724763690,2024-08-27 09:01:30,https://www.instagram.com/p/C_JpZu7Pm5V/,ð
1445,brookeschwerha,1724627184,2024-08-25 19:06:24,https://www.instagram.com/p/C_GhUshv6tn/,ð

## Section 5

In [141]:
df_tidy.groupby('title').count().sort_values('Time of Like', ascending = False)

                    string_list_data  Time of Like  Date of Like  href  value
title
irckentstate                      24            24            24    24     24
dspbetapi                         22            22            22    22     22
conangray                         17            17            17    17     17
emiliah_spam_                     16            16            16    16     16
alainapelland                     15            15            15    15     15
...                              ...           ...           ...   ...    ...
graykeeler                         1             1             1     1      1
greensandbeansdeli                 1             1             1     1      1
gregorreynolds                     1             1             1     1      1
gretahelgerthh                     1             1             1     1      1
zoepeifer                          1             1             1     1      1

[916 rows x 5 columns]

## Section 6

##### Hypothesis : 

I click on more ads from instagram during the nighttime instead of early on in the day.

Null(H0):There is not a difference in number of Instagram ad clicks from night and morning.

Alternate (H1): There are more Instagram ad clicks in night than in morning.

The independent variable for this is the time of the day (morning or night). The Dependant variable is if the ad is clicked on. Some theoretical elements and what may have an effect on the number of clicks and time of day include that I spend more time on instagram during night, there is a lower sense of self control at night time when I am thinking less, which makes me more inclined to click on an ad.

## Section 7

For my hypothesis, I will be using the ads_clicked.json file. This file contains the information on the ads I get on my instagram feed, and which ones I click on such as the time, date, and website of the ad interaction. This file will help my test my hypothesis as I can filter it and create a table, in order to check the data and find the most common time that I click on ads from instagram. I will be able to use this data to prove either my null or alternate hypothesis.

## Section 8

In [156]:
path = r"/Users/alainanorris/Downloads/instagram-_alainanorris_-2025-08-25-DX2wxAXH 2/ads_information/ads_and_topics/ads_clicked.json"
with open(path) as l:
    data = json.load(l)

In [175]:
df = pd.DataFrame(data)
df.head(10)

                     impressions_history_ads_clicked
0  {'title': 'Limited time discount ð£', 'strin...
1  {'title': 'Meet with Missionaries', 'string_li...
2  {'title': '{{product.name}}', 'string_list_dat...
3  {'title': 'TRYOUTS | Layne Volleyball Clu', 's...

In [165]:
data.keys()

dict_keys(['impressions_history_ads_clicked'])

In [176]:
df = pd.DataFrame(data['impressions_history_ads_clicked'])
df.head(10)

                            title             string_list_data
0      Limited time discount ð£  [{'timestamp': 1755570112}]
1          Meet with Missionaries  [{'timestamp': 1756005030}]
2                {{product.name}}  [{'timestamp': 1756049106}]
3  TRYOUTS | Layne Volleyball Clu  [{'timestamp': 1756072657}]

In [189]:
df_tidy = pd.DataFrame(data['impressions_history_ads_clicked'])

# Check how many rows and columns you have
print("Number of rows:", len(df_tidy))
print("Shape (rows, columns):", df_tidy.shape)

# Preview the first 10 rows
print(df_tidy.head(10))

Number of rows: 4
Shape (rows, columns): (4, 2)
                            title             string_list_data
0      Limited time discount ð£  [{'timestamp': 1755570112}]
1          Meet with Missionaries  [{'timestamp': 1756005030}]
2                {{product.name}}  [{'timestamp': 1756049106}]
3  TRYOUTS | Layne Volleyball Clu  [{'timestamp': 1756072657}]

In [190]:
from datetime import datetime
df_tidy['Date of Like'] = [datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [191]:
df_ads.head()

                            title             string_list_data
0      Limited time discount ð£  [{'timestamp': 1755570112}]
1          Meet with Missionaries  [{'timestamp': 1756005030}]
2                {{product.name}}  [{'timestamp': 1756049106}]
3  TRYOUTS | Layne Volleyball Clu  [{'timestamp': 1756072657}]

In [192]:
df_tidy.drop(columns = ['string_list_data'])

                            title        Date of Like
0      Limited time discount ð£ 2025-08-18 22:21:52
1          Meet with Missionaries 2025-08-23 23:10:30
2                {{product.name}} 2025-08-24 11:25:06
3  TRYOUTS | Layne Volleyball Clu 2025-08-24 17:57:37

In [193]:
df_tidy.head(10)

,title,string_list_data,Date of Like
0,Limited time discount ð£,[{'timestamp': 1755570112}],2025-08-18 22:21:52
1,Meet with Missionaries,[{'timestamp': 1756005030}],2025-08-23 23:10:30
2,{{product.name}},[{'timestamp': 1756049106}],2025-08-24 11:25:06
3,TRYOUTS | Layne Volleyball Clu,[{'timestamp': 1756072657}],2025-08-24 17:57:37

## Section 9 

Above is the tidy version of the DataFrame, when I messed around with the code and could not get it to display 10 rows after an hour of trying to fix it, I checked the number of rows in the data and it shows that there is only 4, I am not sure if this is an error on my end or not, but I continued on with the steps just using 4 rows insteasd of 10, since I could not get 10. I did use the dataframe and head() methods.

## Section 10

The data I have used above shows the ads I have clicked on, example "limited time discount, tryouts". I was not able to get more than four rows to show up in my dataset, even though I tried for a very long time. However, with the data I was able to get you can still see the times which I clicked on the ads. This is what I will be using for my hypothesis. I do believe that my dataframe meets the principles and requirements, and I am able to use this data for my hypothesis. From the 4 ads I clicked on, the time stamps (converted to a 12-hour clock) include the times : 10:21pm, 11:10pm, 11:25am, and 5:57pm. This shows that there are 2 data points of ads I clicked on late at night, one in the evening, and one from morning/ afternoon. This does support that I click on more ads later in the night.

## Summary

Based on the data I was able to analyze, I can conclude that it is more common for me to click on ads from instagram when it is later on in the night, as opposed to earlier in the day. I was able to get a table of data which shows that the ads I clicked on happened at 10:21pm, 11:10pm, 11:25am, and 5:57pm. This supports the alternate hypothesis that "There are more Instagram ad clicks in night than in morning."  One of the limitations of this dataset was that I was only able to get 4 rows in my table, and was not able to figure out how to expand this to 10 or more rows and data. This does limit my conclusion ability , as I have less data to work with. Having more data to work with means that I have a better conclusion and more evidence to back it up. An alternative approach I could have taken was finding a different dataset to work with, but I feel as though this one strongly worked with my claim. A next potential step for me would be work with the professor or attempt to figure out if my dataset truly only has 4 rows, or if not, why I am unable to see 10+.